{% extends 'base.html' %}
{% block title %}Assign Students to {{ school_class.name }}{% endblock %}
{% block content %}
<div class="card p-3 max-w-2xl">
  <h3>Assign Students to {{ school_class.name }}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.students.label_tag }}
      {{ form.students }}
    </div>
    <div class="mt-3">
      <button class="btn btn-primary">Assign</button>
      <a href="{% url 'classes:students' school_class.pk %}" class="btn">Back</a>
    </div>
  </form>
</div>
{% endblock %}
