{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Total Students</h5>
            <h3>256</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Teachers</h5>
            <h3>34</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Fees Collected</h5>
            <h3>$12,450</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Library Books</h5>
            <h3>870</h3>
        </div>
    </div>
</div>
{% endblock %}